

body {
    font-family: "ProximaNova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #f4f4f4;
    color: black;
    font-size: 13px;
    line-height: 26px;


}

a, a:active, a:visited {
    text-decoration: none;
    color: #222;
    cursor: pointer;

}
a:hover {
    color: rgb(0, 145, 41);
}


.top-nav {
    height: 50px;
    background: #1F2532 ;
}

section {
    background: #fff;
    /* height: 100vh; */
}

.width20 {
    border-right: 1px solid #dddddd;
    padding: 40px 20px;
    width: 280px;

}

.styles-container {
    padding-top: 40px;
    width: 1086px;
}

.wrap {
    width: 1366px;
    margin: 0 auto;
    /* height: 100vh; */
    display: flex;
    align-items: stretch;
}

.showComponentWrap {
    width: 98%;
    min-height: 150px;
    height: auto;
    justify-content: center;
    padding: 20px 36px;
    text-align: left;
}

.showComponentWrap-element {
    padding: 20px ;
    float: left;
    width: 40%;
    display: flex;
    /* justify-items: left; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.markup {
    border: 1px solid #ddd ;
    font-size: 13px;
    background: #f7f7f7;
    min-height: 400px;
    float: left;
    width: 60%;
}


.markup xmp {
    text-align: left;
    margin: 0;
    padding: 0 10px 20px 20px;
    white-space: break-spaces;
}

.article-title {
    font-size: 36px;
    line-height: 42px;
    font-weight: normal;
    text-transform: none;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

code {
    color: #d05;
    font-size: 12px;
    white-space: nowrap;
    padding: 0 4px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background: #fafafa;
}

.article-subtitle {
    padding-left: 6px;
    /* border-left: 3px dotted rgb(7, 136, 1); */
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin: 50px 0 10px 0;

}
dl {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 16px;
    
}
dd {
    text-align: left;
    margin-inline-start: 30px;
    line-height: 36px;
}
dt {
    font-weight: 500;
}
p {
    font-size: 16px;
    font-weight: 100;
    margin: 30px 0;
}



.pp-loginpage-footer {
    width: 100%;
    bottom: 0;
    z-index: 1;
    background-color: #2F3541;
    padding: 15px 0 15px 0;
    height: 78px;
}

.pp-loginpage-footer__brand {
    background: url(../img/white.svg) center center no-repeat;
    background-size: contain;
    height: 48px;
    -webkit-transform: scale(0.75, 0.75);
    -moz-transform: scale(0.75, 0.75);
    -o-transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    transform: scale(0.75, 0.75);
    cursor: pointer;
}


/* Helper classes */

.mr36 {
    margin-right:36px ;
}