

body {
    font-family: "ProximaNova", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fff;
    color: black;
    font-size: 13px;
    line-height: 26px;


}

a, a:active, a:visited {
    text-decoration: none;
    color: #222;
    cursor: pointer;

}
a:hover {
    color: rgb(0, 145, 41);
}


.top-nav {
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 99;
    background: url(../img/white.svg) center center no-repeat #1F2532 ;
    background-size: contain;
    background-size: 120px;
}

section {
    background: #fff;
    /* height: 100vh; */
}

.width20 {
    border-right: 1px solid #dddddd;
    padding: 40px 20px;
    width: 280px;
    float: left;
    position: fixed;
    top: 50px;
    bottom: 100px;

}

.styles-container {
    padding-top: 40px;
    width: 700px;
    float: left;
    margin-left: 280px;
}

.wrap {
    width: 980px;
    margin: 0 auto;
    overflow: auto;
    /* height: 100vh; */
    /* display: flex;
    align-items: stretch; */
}



.showComponentWrap {
    width: 98%;
    min-height: 150px;
    height: auto;
    justify-content: center;
    padding: 20px 36px;
    text-align: left;
}

.showComponentWrap-element {
    padding: 20px ;
    display: flex;
    /* justify-items: left; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
}

.markup {
    border-left: 2px solid #8AB98E ;
    font-size: 13px;
    background: #f4f5f6;
    min-height: 400px;

    
  
}


.markup xmp {
    text-align: left;
    margin: 0;
    padding: 0 10px 20px 20px;
    white-space: break-spaces;
}

.article-title {
    font-size: 26px;
    line-height: 42px;
    font-weight: normal;
    text-transform: none;
    margin-top: 50px;
    
}

h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #878787;
    margin-top: 30px;
}

code {
    color: #d05;
    font-size: 12px;
    white-space: nowrap;
    padding: 0 4px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background: #fafafa;
}

.article-subtitle {
    padding-left: 6px;
    /* border-left: 3px dotted rgb(7, 136, 1); */
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #878787;
    /* margin: 50px 0 10px 0; */

}
dl {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 16px;
    
}
dd {
    text-align: left;
    margin-inline-start: 30px;
    line-height: 36px;
}
dt {
    font-weight: 500;
}
p {
    font-size: 15px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 29px;
}



.pp-loginpage-footer {
    width: 100%;
    bottom: 0;
    z-index: 1;
    background-color: #2F3541;
    padding: 15px 0 15px 0;
    height: 78px;
}

.pp-loginpage-footer__brand {
    background: url(../img/white.svg) center center no-repeat;
    background-size: contain;
    height: 48px;
    -webkit-transform: scale(0.75, 0.75);
    -moz-transform: scale(0.75, 0.75);
    -o-transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    transform: scale(0.75, 0.75);
    cursor: pointer;
}


/* Helper classes */

.mr36 {
    margin-right:36px ;
}
.mb20 {
    margin-bottom: 20px;
}

.tal {
    text-align: left;
}


.clearfix: before, .clearfix: after {
    content: "";
    display: table;
}
.clearfix: after {
    clear: both;
}

.bg-1 {
    background-color: rgb(232, 232, 232);
}

.bg-2 {
    background: rgb(213, 213, 213);
}

.bg-1, .bg-2 {
    text-align: center;
}

/* hacks for the styleguide page */

.modal {
    position: relative;
}

.fieldWrap {
    margin-bottom: 20px;
}
.pv-message-center {
    margin-bottom: 46px;
}

.component-states-wrapper {
    border: 1px solid red;  
}

.component-state {
    display: flex;
}

.component-sub-states-wrapper {
    display: flex;
}

.component-sub-state {
    margin-left: 20px;
}

.component-sub-state:first-child {
    margin-left: 0;
}
.container-border {
    border: 1px dashed #999;
}

.variants-wrapper {
    display: flex;
    margin-bottom: 20px;
}
.variant-component  {
    padding: 20px;
}
.inverse-variant {
    background-color: #999;
}
.variants-component-wrapper {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.variants-component-wrapper:first-child {
    margin-left: 0;
}
