



.pv-popover {
    position: relative;
    display: inline-block;

    .pv-popover-container {
        @include box-shadow-regular;
        background: $pv-white;
        border-radius: $base-border-radius;
        padding: map-get($pv-spaces, medium);
        min-width: map-get($pv-sizes, small);
        max-width: 300px;
        width: 300px;
        min-height: map-get($pv-sizes, small);
        max-height: 300px;
        overflow: scroll;


    }
  }