@import "../../utilities/utilities/sizes";
@import "../../utilities/style/textStyles";
@import "../../utilities/utilities/borders";
@import "../../utilities/utilities/shadows";
@import "../../utilities/utilities/spaces";
@import "../../utilities/style/colors";




.main-form-wrapper {
    padding: map-get($pv-spaces, large);
    max-height: 100vh;
}
.form-wrapper {
    margin: 0 auto;
    width: 100%;
    padding: map-get($pv-spaces, medium);
}
.form-pair-wrapper {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    min-height: 100%;
    min-width: 300px;
}

.form-field {
    margin: 0 map-get($pv-spaces, small) map-get($pv-spaces, medium);
    flex-grow: 1;
    min-width: 300px;
    width: 25%;
}

.form-label {
    font-size: $font-small;
    display: flex;
    margin: 0 map-get($pv-spaces, xsmall) map-get($pv-spaces, 'xsmall') 0;
    > label {
        display: flex;
        align-items: center;
    }
}
.form-label-text {
    margin-right: map-get($pv-spaces, 'xsmall');
}
.form-label-text-wrap {
    margin-right: map-get($pv-spaces, 'xsmall');
    display: flex;
}
.form-header {
    text-transform: uppercase;
    font-size: $font-regular;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: map-get($pv-spaces,'medium');
    padding-left: map-get($pv-spaces,'small');
}
.form-section {
    margin-bottom: map-get($pv-spaces, 'large');
}
::placeholder {
    color: $pv-grayscale-5;
}

.form-footer {
    padding: map-get($pv-spaces,'medium') 0;
    margin: map-get($pv-spaces,'small') map-get($pv-spaces,'medium');
    display: flex;
    justify-content: right;
    border-top: 1px solid #ccc;
}

