

@import "../../utilities/utilities/sizes";
@import "../../utilities/style/textStyles";
@import "../../utilities/utilities/borders";
@import "../../utilities/utilities/shadows";
@import "../../utilities/utilities/spaces";
@import "../../utilities/style/colors";
@import "../../utilities/utilities/cursors";


.input {
    width: 100%;
    height: map-get($pv-sizes, small);
    padding: map-get($pv-spaces, small);
    border-radius: $base-border-radius;
    background-color: $pv-white;
    text-align: left;
    @include border-normal();

    &:hover {
		@include border-hover()
	}

    &.is-active {
        border-color: $pv-green-dark;
      }

	&[disabled] {
		&:hover,
		&:focus,
		&:active {
			@extend .cursor-default;
		  
		}
	}


    &.is-focused, .is-focus-selected {
        @include focus();

        &.is-error {
            border-color: $pv-red-regular;
        }
        
    }

    &.is-error {
        @include pv-border();
        border-color: $pv-red-regular;

    }

    

}

.fieldWrap {
    width: 100%;
    height: map-get($pv-sizes, small);
    padding: 0 map-get($pv-spaces, medium);
    border-radius: $base-border-radius;
    background-color: $pv-white;
    text-align: left;
    outline: 1px solid $pv-grayscale-3;
    position: relative;
    @extend .cursor-pointer;
    

    .input {
        border: none;
    }

    .is-right {
        position: absolute;
        right: 10px;
        top: 5px;
        
    }
    .is-left {
        position: absolute;
        left: 10px;
        top: 9px;
    }
}