
@import "../../utilities/style/colors";
@import "../../utilities/style/textStyles";
@import "../../utilities/utilities/sizes";


@mixin avatar-base($size:(map-get($pv-sizes, xsmall))) {
    @extend .pv-font-small;
    color: $pv-white;
    text-align: center;
    height: map-get($pv-sizes, small);
    width: map-get($pv-sizes, small);
    border-radius: $border-radius;
    
  }

  .avatar {
    @include avatar-base();    
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        border-radius: $border-radius;
        vertical-align: middle;
    }
    
  
    &.avatar-small {
      @include avatar-base(map-get($pv-sizes, small));

      img {
        height: map-get($pv-sizes, xsmall);
        width: map-get($pv-sizes, xsmall); 
      }

    }

    &.avatar-medium {
        @include avatar-base(map-get($pv-sizes, small));

        img {
            width: 26px;
            height: 26px;
        }
    }

    &.avatar-large {
      width: 56px;
      height: 56px;

      img {
        height: map-get($pv-sizes, small);
        width: map-get($pv-sizes, small); 
      }
    }

    &.avatar-xlarge {
      @include avatar-base(map-get($pv-sizes, xlarge));
    }
  
    img {
      width: 72px;
      height: 72px;
    }
  
    // &[data-initial]::before {

    // }
  }

.label-green {
  background: $pv-green-regular;
}

  