@import "../../utilities/utilities/borders";



.table {
	  border-spacing: 0;
	  @include pv-border();
	  @include border-normal();
	  width: 100%;
	thead, tbody {
		tr{
			th, td {
				vertical-align: middle;
				@include pv-border();
				@include border-normal();
				padding: map-get($pv-spaces, small);
				&:nth-last-child(1){
				}
			}
		}
	}
	tbody {
		tr {
			td {
				background:#fff;
				

				&:nth-child(1) {
				}
				&:nth-last-child(1){
				}
			}
		}
	}
}
