
.cursor-default {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-grab {
    cursor: pointer;
}

.cursor-grabbing {
    cursor: pointer;
}

.cursor-resize {
    cursor: pointer;
}

.cursor-column-resize {
    cursor: pointer;
}

.cursor-move {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: pointer;
}

.cursor-text {
    cursor: pointer;
}