

@mixin box-shadow-regular( $horiz : 0px , $vert : 8px , $blur : 20px , $spread : 0px , $color:  rgba(0,0,0,0.2))
{
    -webkit-box-shadow: $horiz $vert $blur $spread $color;
    -moz-box-shadow: $horiz $vert $blur $spread $color;
    box-shadow: $horiz $vert $blur $spread $color;
  }


  @mixin box-shadow-small( $horiz : 0px , $vert : 1px , $blur : 2px , $spread : 0px , $color:  rgba(0,0,0,0.2))
  {
      -webkit-box-shadow: $horiz $vert $blur $spread $color;
      -moz-box-shadow: $horiz $vert $blur $spread $color;
      box-shadow: $horiz $vert $blur $spread $color;
    }