



$pv-spaces: (
    'xsmall': 5px,
    'small': 10px,
    'medium': 20px,
    'large': 36px,
    'xlarge': 46px ,
);

// usage

// .demo {
//   width: map-get($pv-spaces, large)
// }


.has-spacing {
	padding: map-get($pv-spaces, small)
}

.has-spacing-left {
	padding-left: map-get($pv-spaces, small)
}

.has-spacing-right {
	padding-right: map-get($pv-spaces, small)
}