

.row {
  margin: 1% 0;
  overflow: auto; 
  line-height: 2em;
}

.col {
  float: left;
  margin: 0 1%;
}

$grid-list: (
  c1    6.33%,
  c2   14.66%,
  c3   23%,
  c4   31.33%,
  c5   39.66%,
  c6   48%,
  c7   56.33%,
  c8   64.66%,
  c9   73%,
  c10  81.33%,
  c11  89.66%,
  c12  98%
);

@each $value in $grid-list {
  .#{nth($value, 1)} {
    width: nth($value, 2);
  }
}

@media (max-width:870px) {
  .row .col {
    width: 100%;
  }
}