
@import "../style/colors";


//  ========================== TEXT STYLES =====================================




// Font family

$font-family: "Proxima nova" "sans serif"; 

$base-font-family: "proxima nova", "sans serif";
$body-font-family: $base-font-family;
$fallback-font-family: "Helvetica Neue", sans-serif !default;



// Font sizes

// Header

$font-h1: 18px !default;
$font-h2: 16px !default;

// Title

$font-title: 12px !default;

// Body

$font-small: 11px !default;
$font-regular: 13px !default;
$font-medium: 16px !default;
$font-large: 18px !default;

// Font weight

$font-semibold: 600 !default;
$font-semibold: 400 !default;



@mixin pv-font {
    font-family: $base-font-family;
    font-weight: 400;

}

.pv-font-h1 {
    @include pv-font();
    font-size: 18px;
    line-height: 30px;
}

.pv-font-h2 {
    @include pv-font();
    font-size: 16px;
    line-height: 26px;
}

.pv-font-title {
    @include pv-font();
    font-size: 12px;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.pv-font-small {
    @include pv-font();
    font-size: 11px;
    line-height: normal;
}

.pv-font-regular {
    @include pv-font();
    font-size: 13px;
    line-height: normal;
    color: $pv-grayscale-1;
}

.pv-font-semibold {
    font-family: $base-font-family;
    font-size: 13px;
    line-height: normal;
    font-weight: 600;
}

.pv-font-medium {
    @include pv-font();
    font-size: 16px;
    line-height: 26px;
}

.pv-font-medium {
    @include pv-font();
    font-size: 18px;
    line-height: 30px;
}

$text-primary: $pv-grayscale-1;
$text-secondary: $pv-grayscale-2;
$text-placeholder: $pv-grayscale-3;
$text-inverse: $pv-white;
$text-warning: $pv-orange-regular;
$text-alert: $pv-red-regular;
$text-normal: $pv-green-regular;
$text-hover: $pv-green-dark;


@mixin text-highlight {
    color: $text-inverse;
    background: $pv-green-regular;
}