@import "../../utilities/style/colors";
@import "../../utilities/style/textStyles";
@import "../../utilities/utilities/sizes";
@import "../../utilities/utilities/spaces";
@import "../../utilities/utilities/borders";


.pv-badge-wrap {

    height: map-get($pv-sizes, small);

    .pv-badge {

        background: $pv-grayscale-5;
        @extend .pv-font-small;
        color: $text-primary;
        text-align: center;
        // border-radius: $border-radius;
        border-radius: $border-radius;
        height: map-get($pv-sizes, xsmall);
        min-width: map-get($pv-sizes, small); ;
        padding: 2px map-get($pv-spaces, small);
        display: inline-block;
        vertical-align: baseline;

    }
}