
@import "../../settings/variables";
@import "../../utilities/utilities/cursors";
@import "../../utilities/utilities/borders";



@mixin button-variant($color,$background,$border-color) {
	color: $color;
	background-color: $background;
	border-radius: $base-border-radius;
	height: map-get($pv-sizes, small);
	min-width: map-get($pv-sizes, small);
	box-shadow: none;
	transition: all .2s ease;
	vertical-align: middle;
	text-align: center;
	@extend .cursor-pointer;
	@include pv-border;
	border-color: transparent;
	display: flex;
    justify-content: center;
    align-items: center;
	padding: 0 map-get($pv-spaces, small) 0 0;


	&:hover,
	&:focus,
	&:active {
		color: $color;
		background-color: darken($background, 20%);
		border-color: darken($border-color, 8%);
	}

	.is-disabled {

	}
	 
	img, i, svg {
		vertical-align: text-bottom;
	}
	svg {
		path {
			fill: $pv-white;
		  }
	}

	
}

.pv-button-primary {
    @include button-variant($pv-white, $pv-green-regular, $pv-green-regular);
}

.pv-button-destructive {
    @include button-variant($pv-white, $pv-red-regular, $pv-red-regular);
}
.pv-button-naked {
    @include button-variant($pv-grayscale-2, transparent, transparent);
	svg {
		path {
			fill: $pv-grayscale-3;
		  }
	}
}
.pv-button-naked-inverse {
    @include button-variant($pv-white, transparent, transparent);
	svg {
		path {
			fill: $pv-white;
		  }
	}
}
.pv-button-ghost {
	@include button-variant($pv-grayscale-2, transparent, $pv-grayscale-3);
	border-color: $pv-grayscale-3;
	
	svg {
		path {
			fill: $pv-grayscale-3;
		  }
	}
}

